
.vs/com.tweetapp/v16/.suo
.vs/com.tweetapp/v16/.suo
com.tweetapp.api/obj/com.tweetapp.api.csproj.nuget.dgspec.json
com.tweetapp.api/obj/Debug/netcoreapp3.1/com.tweetapp.api.assets.cache
com.tweetapp.api/obj/Debug/netcoreapp3.1/com.tweetapp.api.csproj.AssemblyReference.cache
com.tweetapp.api/obj/project.assets.json
com.tweetapp.api/obj/project.nuget.cache
com.tweetapp.application/obj/com.tweetapp.application.csproj.nuget.dgspec.json
com.tweetapp.application/obj/Debug/netcoreapp3.1/com.tweetapp.application.assets.cache
com.tweetapp.application/obj/Debug/netcoreapp3.1/com.tweetapp.application.csproj.AssemblyReference.cache
com.tweetapp.consoleApp/obj/com.tweetapp.consoleApp.csproj.nuget.dgspec.json
com.tweetapp.consoleApp/obj/Debug/netcoreapp3.1/com.tweetapp.consoleApp.csproj.AssemblyReference.cache
com.tweetapp.consoleApp/obj/Debug/netcoreapp3.1/com.tweetapp.consoleApp.GeneratedMSBuildEditorConfig.editorconfig
com.tweetapp.consoleApp/obj/project.assets.json
com.tweetapp.consoleApp/obj/project.nuget.cache
com.tweetapp.domain/obj/com.tweetapp.domain.csproj.nuget.dgspec.json
com.tweetapp.domain/obj/Debug/netcoreapp3.1/com.tweetapp.domain.assets.cache
com.tweetapp.domain/obj/Debug/netcoreapp3.1/com.tweetapp.domain.GeneratedMSBuildEditorConfig.editorconfig
com.tweetapp.domain/obj/project.assets.json
com.tweetapp.domain/obj/project.nuget.cache
com.tweetapp.infrastructure/obj/Debug/netcoreapp3.1/com.tweetapp.infrastructure.assets.cache
com.tweetapp.infrastructure/obj/Debug/netcoreapp3.1/com.tweetapp.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
com.tweetapp.infrastructure/obj/project.nuget.cache
.vs/com.tweetapp/v16/.suo
